---
title: Upgrading PXF
---

The PXF upgrade procedure is described below. This procedure describes how to grade PXF in an existing Greenplum Database 5.1.0 installation to the currently supported PXF version.

This procedure uses *PXF.from* to refer to your currently-installed PXF installation and *PXF.to* to refer to the PXF release to which you are upgrading.

This procedure **must** be performed in the exact order presented:

-   [Step 1: PXF Pre-Upgrade Actions](#pxfpre)
-   [Step 2: Upgrade PXF](#pxfup)

## <a id="pxfpre"></a>Step 1: PXF Pre-Upgrade Actions

Before you install a new version of Greenplum Database, you must 

1. Log in to the Greenplum Database master node and set up the environment. For example:

    ``` shell
    $ ssh gpadmin@<gpmaster>
    gpadmin@gpmaster$ . /usr/local/hawq/greenplum_path.sh
    ```
    
2. Run the `pxf stop` command to stop the PXF service on each segment host. For example:

    ``` shell
    gpadmin@gpmaster$ gpssh -e -v -f seghostfile "/usr/local/greenplum-db/pxf/bin/pxf stop"
    ```

3. Back up the *PXF.from* configuration files found in the `$GPHOME/pxf/conf/` directory. These files should be the same on all segment hosts, so you need only copy from one of the hosts. For example:

    ```
    gpadmin@gpmaster$ mkdir -p /save/pxf-conf
    gpadmin@gpmaster$ scp gpadmin@seghost:/usr/local/greenplum-db/pxf/conf/* /save/pxf-conf/
    ```

4. Note the locations of any additional JAR files you may have added to your *PXF.from* installation. You may need to save a copy of these JAR files if they will be removed or overwritten when you install the new version of Greenplum Database.

5. Install the new version of Greenplum Database and then continue your PXF upgrade with [Step 2: Upgrade PXF](#pxfup).


## <a id="pxfup"></a>Step 2: Upgrade PXF

After you install the new version of Greenplum Database, perform the following procedure to upgrade the *PXF.to* software:

1. Log in to the Greenplum Database master node and set up the environment. For example:

    ``` shell
    $ ssh gpadmin@<gpmaster>
    gpadmin@gpmaster$ . /usr/local/hawq/greenplum_path.sh
    ```

2. Create a text file that lists your Greenplum Database segment hosts, one host name per line. Ensure that there are no blank lines or extra spaces in the file. For example, a file named `seghostfile` may include:

    ``` pre
    seghost1
    seghost2
    seghost3
    ```

3. If you updated the `pxf-env.sh` configuration file in your *PXF.from* installation, re-apply those changes and copy the updated `pxf-env.sh` file to all segment hosts:

    ``` shell
    gpadmin@gpmaster$ more /save/pxf-conf/pxf-env.sh
    gpadmin@gpmaster$ vi /usr/local/greenplum-db/pxf/conf/pxf-env.sh
    gpadmin@gpmaster$ gpscp -v -f seghostfile /usr/local/greenplum-db/pxf/conf/pxf-env.sh =:/usr/local/greenplum-db/pxf/conf/pxf-env.sh
    ```
    
4. Run the `pxf init` command to initialize the PXF service on each segment host. For example:

    ``` shell
    gpadmin@gpmaster$ gpssh -e -v -f seghostfile "/usr/local/greenplum-db/pxf/bin/pxf init"
    ```

5. If you updated any of the `pxf-profiles.xml`, `pxf-log4j.properties`, or `pxf-public.classpath` configuration files in your *PXF.from* installation, re-apply those changes and copy the updated file(s) to all segment hosts. Refer to Step 3 above for a similar `gpscp` command.

6. If you added additional JAR files to your *PXF.from* installation, copy them to the corresponding directory in your *PXF.to* installation **on each segment host**.
 
7. Run the `pxf start` command to start PXF on each segment host. For example:

    ``` shell
    $ gpadmin@gpmaster$ gpssh -e -v -f seghostfile "/usr/local/greenplum-db/pxf/bin/pxf start"
