regression.diffs
regression.out
extended_protocol_test
*/dummy.sql
*/dummy.out

# Local binaries and symbolic links
/pg_isolation2_regress
/atmsort.pm
/explain.pm
/GPTest.pm
/gpdiff.pl
/gpstringsubs.pl

# Generated subdirectories
/results/
